name: CI
on:
  push:
    branches:
      - master
  pull_request:

env:
  CI: true

jobs:
  test-and-build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [18, 20]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}

      - run: npm ci

      - uses: actions/upload-artifact@v3
        if: matrix.node-version == '18'
        with:
          name: code-coverage
          path: coverage

  upload-code-coverage:
    name: 'Upload code coverage'
    needs: ['test-and-build']
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: code-coverage
          path: coverage

      - uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
