name: CI
on:
  push:
    branches:
      - master
  pull_request:

env:
  CI: true

jobs:
  test-and-build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: ['20.x']
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci --ignore-scripts
      - run: npm run prepare

      - uses: actions/upload-artifact@v6
        if: matrix.node-version == '20.x' && matrix.os == 'ubuntu-latest'
        with:
          name: code-coverage
          path: coverage

  upload-code-coverage:
    name: 'Upload code coverage'
    needs: ['test-and-build']
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: code-coverage
          path: coverage

      - uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
